*{
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #95c4fd;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

h1 {
  font-size: 45px;
  margin: 30px;
 opacity: .9;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  background-color: #feefcf;
  opacity: .8;
}
